.table_lable {
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
    background: var(--primary);
    color: var(--text);
    margin-bottom: 0;
    padding: 0.5rem;
}

.form-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.form-div p {
    background: var(--primary);
    color: var(--text);
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    width: 60dvw;
    margin-bottom: 0px;
}

.form-div form .btn {
    color: var(--text);
    background: var(--primary);
}

.form-div form {
    width: 60dvw;
    background: rgba(234, 223, 241, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-right-radius: 20px;
    -moz-border-right-radius: 20px;
    -ms-border-right-radius: 20px;
    -o-border-right-radius: 20px;
    padding: 20px;
}

.form-div form input {
    background: transparent;
}

.table-dev {
    width: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    text-wrap: nowrap;
}

.table-dev>.table {
    margin-bottom: 0;
    padding-bottom: 0;
    background: transparent;
}